<body>
    <div style="text-align: center">
        <h1>Login to bull-board</h1>
        <form action='/login', method='POST'>
            <input type="text" name="username" placeholder="Enter username here">
            <input type="password" name="password" placeholder="Enter password here">
            <input type="submit" name="submit" value="Submit">
        </form>
    </div>
</body>