<div style="text-align: center">
    <h1 style="font-weight: bold; font-size: x-large; color: slategray;">
        404 
    </h1>
    <br>
    <h1 style="font-size: medium;">    
        This page does not exist.
    </h1>
    <br>
    <a href='/'>Back to home</a>
</div>