body {
    margin: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
        "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-variant: tabular-nums;
    line-height: 1.5;
    background-color: #fff;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
}

#forkMe {
    top: 3em;
    right: -6em;
    color: #fff;
    display: block;
    position: fixed;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.06em;
    background-color: #337ab7;
    padding: 0.5em 5em 0.4em 5em;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    transform: rotate(45deg) scale(0.75, 1);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(45deg) scale(0.75, 1);
    z-index: 10;
}

#forkMe:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -5em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255, 255, 255, 0.7) dashed;
}

@media only screen and (max-width: 600px) {
    #forkMe {
        font-size: small;
    }
}

#forkMe:hover {
    opacity: 0.9;
}

a {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-text-decoration-skip: objects;
}

.btn-primary {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
    color: white !important;
}

.bg-primary {
    background-color: #337ab7 !important;
    color: white !important;
}

.btn-primary:focus,
.btn-primary:active {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
    box-shadow: 0 0 0 0.25rem #e9edf1 !important;
}

th,
td {
    font-size: medium;
}
/* FAQ */

:root {
    --color-text: hsl(207, 10%, 40%);
    --color-text-muted: hsl(213, 10%, 40%);
    --color-skyblue: rgb(90, 149, 205);
}

.accordion {
    max-width: 42rem;
    padding: 1.2rem 0;
    border-radius: 1rem;
    background: white;
    /*   box-shadow: 0 0 5rem lightgrey; */
}

.accordion__heading {
    margin-bottom: 1rem;
    padding: 0 1.4rem;
}

.accordion__item:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}

.accordion__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.2rem 1.4rem;
    background: white;
    border: none;
    outline: none;
    color: var(--color-text);
    font-size: medium;
    text-align: left;
    cursor: pointer;
    transition: 0.1s;
}
.accordion__btn:hover {
    color: var(--color-skyblue);
    background: hsl(248, 53%, 97%);
}

.accordion__item--active .accordion__btn {
    color: var(--color-skyblue);
    border-bottom: 2px solid var(--color-skyblue);
    background: hsl(248, 53%, 97%);
}

.fa-lightbulb {
    padding-right: 1rem;
}
.accordion__icon {
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
    opacity: 0.9;
}
.accordion__item--active .accordion__icon {
    transform: rotate(135deg);
}

.accordion__content {
    font-weight: 300;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    color: var(--color-text-muted);
    transform: translateX(16px);
    transition: max-height 0.5s ease, opacity 0.5s, transform 0.5s;
}
.accordion__content p {
    padding: 1rem 1.8rem;
}

.accordion__item--active .accordion__content {
    opacity: 1;
    transform: translateX(0px);
    max-height: 100vh;
}
