body{
    color:#333;
}

#forkMe {
    top: 3em;
    right: -6em;
    color: #fff;
    display: block;
    position: fixed;
    text-align: center;
    text-decoration: none;
    letter-spacing: .06em;
    background-color: #455a64;
    padding: 0.5em 5em 0.4em 5em;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    transform: rotate(45deg) scale(0.75,1);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    -webkit-transform: rotate(45deg) scale(0.75,1);
    z-index:10;
}
#forkMe:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -5em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255,255,255,0.7) dashed;
}
#forkMe:hover {opacity: 0.9;}

a {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-text-decoration-skip: objects;
}
.btn-primary{
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
    color:white !important;
}
.bg-primary{
    background-color: #337ab7 !important;
    color: white !important;
}
.btn-primary:focus, .btn-primary:active {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
    box-shadow: 0 0 0 0.25rem rgb(102 151 193) !important;
}