html,
    body,
    .intro {
      height: 100%;
    }
    
    table td,
    table th {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
        
    .card {
      border-radius: .5rem;
    }
    
    .table-scroll {
      border-radius: .5rem;
    }
    
    .table-scroll table thead th {
      font-size: 1.25rem;
    }
    .pagination > li > a
    {
        background-color: white;
        color: #000000;
    }
    
    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover
    {
        color: #5a5a5a;
        background-color: #eee;
        border-color: #ddd;
    }
    
    .pagination > .active > a
    {
        color: white;
        background-color: #000000 !Important;
        border: solid 1px #000000 !Important;
    }
    
    .pagination > .active > a:hover
    {
        background-color: #000000 !Important;
        border: solid 1px #000000;
    }