<link rel="stylesheet" href="/stylesheets/tablestyle.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

<section class="intro">
  <h1 class="mb-5 mt-5" style="text-align: center; ">Leetcode Contests</h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">

        <div class="table-responsive table-scroll">
          <table id="contest-table" class="table table-striped hover">
            <thead>
              <tr>
                <th scope="col">Contest Name</th>
                <th scope="col">Type</th>
                <th scope="col">Start Time</th>
                <th scope="col">Duration</th>
              </tr>
            </thead>
            <tbody>
              <% for( let contest of contests ) { %>
              <tr>
                <td><a href="/contests/<%= contest._id %>/ranking/1" style="text-decoration:none"><%= contest._id %></a> </td>
                <% if (contest.startTime>Date.now()) { %>
                <td>Upcoming</td>
                <% } else { %>
                <td>Virtual</td>
                <% } %>
                <td><%= contest.startTime %></td>
                <td><%= (contest.endTime - contest.startTime)/60000 %> minutes</td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script>
  $(document).ready(function () {
    $('#contest-table').DataTable({
      "ordering": false
    })
  });
</script>